services:

  nginx:
    image: dockerhubnavn/meaningoflife-web:latest
    container_name: meaningoflife-web
    build: ./Nginx
    ports: 
      - "80:80"
    depends_on:
      - meaningoflife-api
  

  meaningoflife-api:
    image: dockerhubnavn/meaningoflife-api:latest
    container_name: meaningoflife-api
    build: ./MeaningOfLife
    expose:
      - "8080"
    environment: 
      - ConnectionStrings__DefaultConnection=Host=meaningoflife-db;Database=MeaningOfLifeDb;Username=ga-app;Password=secret123;
    depends_on:
      - meaningoflife-db
  

  meaningoflife-db:
    image: dockerhubnavn/meaningoflife-db:latest
    container_name: meaningoflife-db
    build: ./MeaningOfLife-db
    environment:
      - POSTGRES_USER=ga-app
      - POSTGRES_PASSWORD=secret123
      - POSTGRES_DB=MeaningOfLifeDb
    ports:
    - "5432:5432"

